extends layout
head
  script(src="http://d3js.org/d3.v3.min.js")
  script(src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js")
  link(rel='stylesheet', href='/stylesheets/d3.css')

block content
  h1=title

  form(method="POST", action="createForm", id="pollForm")
    div
      label(for="question") Question:
      input(type="text", name="question", id="question" required)
    div
      label Choice 1:
      input(type="text", name="choices", id="choice1")
    div
      label Choice 2:
      input(type="text", name="choices", id="choice2")
    div
      label Choice 3:
      input(type="text", name="choices", id="choice3")
    div
      label Choice 4:
      input(type="text", name="choices", id="choice4")
    div
      p Allow multiple answers? 
        input(type="checkbox", name="allow_multiple", id="allow_multiple")
    div
      p Require name? 
        input(type="checkbox", name="require_name", id="require_name")
    input(type="button", class="btn", id="pollSubmit", value="Submit") 
