extends layout

block content
  h1 = title

  form(method="POST", action="createForm", id="pollForm")
    div
      label(for="question") Question:
      input(type="text", name="question", id="question")
    div
      label(for="choice1") Choice 1:
      input(type="text", name="choice1", id="choice1")
    div
      label(for="choice2") Choice 2:
      input(type="text", name="choice2", id="choice2")
    div
      label(for="choice3") Choice 3:
      input(type="text", name="choice3", id="choice3")
    div
      p Allow multiple answers? 
        input(type="checkbox", name="allow_multiple", id="allow_multiple")
    div
      p Require name? 
        input(type="checkbox", name="require_name", id="require_name")
    input(type="button", class="btn", id="pollSubmit", value="Submit") 
