doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="/bootstrap/css/bootstrap.min.css")
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
    script(src="/javascripts/create.js")

    script(src="http://d3js.org/d3.v3.min.js")
    script(src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js")
  body
    block content
